@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// https://getbootstrap.com/docs/4.0/getting-started/theming/
// https://stackoverflow.com/questions/45660802/how-to-use-bootstrap-4-with-sass-in-angular
// Using bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/bootstrap';

@import './material/angular-material';

@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/arya-purple/theme.css';
@import '~primeng/resources/primeng.min.css';

@mixin ngx-layout() {
  @include media-breakpoint-down(is) {
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }
}

@mixin material-overrides() {
  @include nb-for-themes(material-dark, material-light) {
    nb-layout-header {
      nb-actions, .logo-container {
        nb-icon, .user-name {
          color: nb-theme(color-basic-100) !important;
        }
      }

      .select-button {
        background-color: nb-theme(background-basic-color-3) !important;
      }
    }

    nb-sidebar {
      transition: width 0.3s;

      .main-container {
        transition: width 0.3s;
      }
    }

    nb-card {
      border-bottom-left-radius: 0.125rem;
      border-bottom-right-radius: 0.125rem;

      nb-card-header, .tabset {
        background-color: nb-theme(card-divider-color);
      }
    }

    [nbinput] {
      font-weight: 400;

      &.status-basic:focus:hover {
        border-color: nb-theme(color-primary-focus) !important;
      }
    }

    [nbbutton] {
      box-shadow: none !important;
    }
  }
}

// install the framework and custom global styles
@include nb-install() {

  @include angular-material();

  // framework global styles
  @include nb-theme-global();

  // https://akveo.github.io/nebular/docs/auth/installation#enable-styles
  @include nb-auth-global();

  @include ngx-layout();

  @include nb-overrides();
  @include material-overrides();
};
