@import '../../../theme/themes';

@include nb-install-component() {

  .card-actions {
    display: inline-flex;

    @include nb-ltr {
      float: right;

    }
    @include nb-rtl {
      float: left;
    }
  }

  ::ng-deep .ui-table .ui-table-thead > tr > th {
    color: nb-theme(text-basic-color);
    background-color: nb-theme(background-basic-color-1);
    border: 1px solid nb-theme(border-basic-color-3);
  }

  ::ng-deep .ui-table .ui-table-tbody > tr {
    color: nb-theme(text-basic-color);
    background-color: nb-theme(background-basic-color-2);
  }

  ::ng-deep .ui-table .ui-table-tbody > tr > td {
    border: 1px solid nb-theme(border-basic-color-3);
  }

  ::ng-deep .ui-table .ui-table-tbody > tr:nth-child(even) {
    background-color: nb-theme(background-basic-color-1);
  }
}
