@import '../../../theme/themes';

@include nb-install-component() {
  .list-card {
    nb-card-header {
      border-bottom: none;
    }

    nb-card-body {
      padding: 0;
    }
  }

  .card-actions {
    padding: nb-theme(card-padding);
    position: absolute;
    right: 0;
    top: 0;
  }
}
